<!--By: Anubhav Gupta-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Smart Card</title>
</head>
<body style="background-color:white;">
<div class="container-fluid">
    <center><h1><span class="badge badge-default" style="font-size:1em;">Smart Card Registration</span></h1></center>
</div>
<br>
<div>
    <center><h3>New Registration: <a href="smart_card/register"><button type="button" class="btn btn-primary">Register</button></h3></center></a>
</div>

<div>

    <center><h3>Check Details: &nbsp;&nbsp;<a href="smart_card/details">&nbsp;<button type="button" class="btn btn-info">Log In</button></a></h3></center>
</div>


</body>
</html>