<!--By: Anubhav Gupta-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">

    <title>Smart Card</title>
    <style>
        .container{
            max-width: 100%;
        }

    </style>
</head>
<body style="width: 100%;">
<div class="container">
    <center><h1><span class="badge badge-default" style="width: auto; font-size: 70%;">Smart Card Registration</span></h1></center>

<br>
<div>
    <center><h3>New Registration: <a href="smart_card/register"><button type="button" class="btn btn-primary">Register</button></h3></center></a>
</div>

<div>

    <center><h3>Check Details: &nbsp;&nbsp;<a href="smart_card/details">&nbsp;<button type="button" class="btn btn-info">Log In</button></a></h3></center>
</div>

</div>
</body>
</html>